:root {
    --main-color: #00ff4c;
    --secundary-color: #3dd368;
    --border-hard-color: #e4e4e4;
    --font-medium-size: 0.9rem;
    --font-lg-size: 1.1rem;
    --font-2xl-size: 2rem;
    --font-3xl-size: 3rem;
    --text-color-white: #ffffff;
    --text-color-black: #1a1a1a;
    --text-color-grayblue: #323d50;
    --text-dark-green: #007521;
    --bg-white-color: #e4e4e4;
    --bg-gray-color: #6b6b6b;
    --border-black: #1a1a1a;
    --globalnav-bg-color: #1a1a1a;
    --globalnav-text-color: #e4e4e4;
    --globalnav-background: rgba(22, 22, 23, .8);
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    position: relative;
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h1 b {
    color: var(--secundary-color);
    font-size: var(--font-2xl-size);
    white-space: nowrap;
}

.top-header {
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(to right, var(--secundary-color), var(--main-color));
    padding: 8px 12px;
    color: white;
    font-size: var(--font-medium-size);
    font-weight: bold;
}

.container-main {
    margin: 0 auto;
}

/* rehusable clases */
.dark-container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg,
            rgba(0, 0, 0, 0.2) 0%,
            rgba(0, 0, 0, 0.6) 100%),
        linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
    z-index: 2;
}

.image-banner {
    position: relative;
    height: 250px;
    overflow: hidden;
}

.image-banner .image-banner-content {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 30%;
    width: fit-content;
    color: var(--text-color-white);
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-transform: uppercase;
}

.image-banner .image-banner-image img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.image-banner .image-banner-title {
    font-size: var(--font-3xl-size);
    color: var(--text-color-white);
}

.image-banner .image-banner-sub-title {
    font-size: var(--font-lg-size);
    color: var(--text-color-white);
}

.btn-1 {
    cursor: pointer;
    padding: 20px 30px;
    border: 3px var(--text-color-white) solid;
    transition: 0.3s;

}

.btn-1:hover {
    background-color: var(--text-color-white);
    transition: 0.3s;
    color: var(--text-color-black)
}

.btn-2 {
    cursor: pointer;
    padding: 30px 30px;
    height: 20px;
    border: 3px var(--secundary-color) solid;
    transition: 0.3s;
    display: flex;
    align-items: center;
    font-weight: 700;
    color: var(--text-color-grayblue);
}

.btn-2:hover {
    background-color: var(--secundary-color);
    color: var(--text-color-white);
}

.h1-skinny {
    font-weight: 500;
    font-size: var(--font-2xl-size);
}

/* rehusable news */
.news-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-column-gap: 50px;
    grid-row-gap: 50px; */
    gap: 50px;
    padding: 0px 20%;
}

.new-card {
    text-decoration: none;
    /* max-width: 300px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--text-color-black);
}

.new-card img {
    width: 100%;
    height: 15vw;
    max-height: 220px;
    object-fit: cover;
    transition: transform 0.3s;
}

.new-card div {
    width: 100%;
    height: 15vw;
    max-height: 220px;
    object-fit: cover;
    transition: transform 0.3s;
    overflow: hidden;
}

.new-card:hover img {
    transform: scale(1.1);
}

.new-card:hover h3{
    color: var(--text-dark-green)
};

/* rehusable timeline */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: var(--secundary-color);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}


.timeline .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.timeline .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: var(--secundary-color);
    border: 4px solid var(--border-black);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.timeline .left {
    left: 0;
}

.timeline .right {
    left: 50%;
}

.timeline .right::after {
    left: -16px;
}

.timeline .content {
    padding: 20px 30px;
    color: var(--text-color-white);
    background-color: var(--bg-gray-color);
    position: relative;
    border-radius: 6px;
}

.timeline b {
    color: var(--secundary-color);
}


/* navbar */

.navbar {
    /* border-bottom: 1px var(--border-hard-color) solid; */
    font-size: var(--font-lg-size);
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    background-color: var(--globalnav-background);
    z-index: 100;
    padding: 20px 20vw;
}

.navbar-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 100%;
}

.navbar ul {
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style-type: none;
}


.navbar ul li a {
    text-decoration: none;
    color: var(--globalnav-text-color);
}

.navbar ul li a:hover {
    text-decoration: none;
    color: var(--globalnav-text-color);
}

.navbar-logo {
    cursor: pointer;
    left: 0px;
    position: absolute;
}

.navbar-logo img {
    width: 70px;
}

/* navbar hover */

.navbar li {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.border-hover {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: var(--globalnav-text-color);
    transition: width 0.3s ease, left 0.3s ease;
}

.navbar li:hover .border-hover {
    width: 100%;
}

/* home */
main.home {
    transform: translateY(-70px);
}

.home-portada {
    width: 100%;
    position: relative;
}

.home-portada-content {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 20%;
    width: fit-content;
    color: var(--text-color-white);
    z-index: 5;
}

.home-portada-content h1 {
    font-size: var(--font-3xl-size);
    font-weight: 800;
    text-transform: capitalize;
}

.home-portada video {
    width: 100%;
}

/* .home-portada .home-portada-video::before{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background-color: rgba(0,0,0,0.25);
    z-index: 2;
} */

.home-portada-video {
    overflow: hidden;
    height: 85vh;
}

/* home map */

.home-map {
    align-items: center;
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.home-map .pre-title {
    font-size: var(--font-lg-size);
    color: var(--secundary-color);
    font-weight: 800;
}

.map-home {
    margin-top: 25px;
    width: 70%;
    height: 650px;
}

#block-image-banner-home {
    height: 600px;
}

/* campaigns page */
.block-filter {
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: var(--text-color-grayblue);
}

.block-filter>h1 {
    width: fit-content;
    font-weight: 600;
}

.filter-continent-container {
    display: flex;
    gap: 10px;
}

.continent-container {
    position: relative;
    width: 180px;
    height: 180px;
    cursor: pointer;
    overflow: hidden;
}

.continent-container h3 {
    position: absolute;
    font-size: var(--font-2xl-size);
    color: var(--text-color-white);
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.continent-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.continent-container:hover img {
    transform: scale(1.2);
}

#campaigns {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.news-block{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}


/* campaign card */
.campaign-card {
    display: grid;
    grid-template-columns: 1fr 600px;
    grid-template-rows: 1fr 1fr 2fr;
    grid-column-gap: 50px;
}

.campaign-card h1 {
    color: var(--text-color-grayblue);
    max-width: 30vw;
    width: 30vw;
}

.campaign-card h3 {
    color: var(--text-color-grayblue);
}

.campaign-card img {
    height: 280px;
    width: 100%;
    max-width: 100%;
    grid-row: 1/4;
    grid-column: 2/3;
    object-fit: cover;
}

.campaign-card-title {
    display: flex;
    justify-content: space-between;
}

.campaign-card-desc {
    max-width: 30vw;
    width: 30vw;
}

.campaign-card-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    gap: 20px;
}

/* campaign page */

.campaign-page {
    padding: 50px 20%;
}

.campaign-detail {
    text-decoration: none;
}

.campaign-header-block {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 1fr fr;
    gap: 10px;
    padding-bottom: 50px;
}

.campaign-header-block .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.campaign-header-block h1 {
    font-size: var(--font-2xl-size);
    font-weight: 500;
}

.campaign-header-block img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.campaign-page .stadistics {
    display: flex;
    padding: 75px 0px;
    gap: 100px;
    width: 100%;
    justify-content: center;
}

.campaign-page .stadistics .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: var(--font-2xl-size);
}

.campaign-page .stadistics span {
    font-size: var(--font-3xl-size);
}

.campaign-page .stadistics h5 {
    font-size: var(--font-lg-size);
    font-weight: 500;
}

.map-campaign {
    width: 100%;
    height: 350px;
    z-index: 0;
}

.map-block {
    border-top: 1px black solid;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}


/* 
.campaign-page .timeline b {
    color: var(--text-color-grayblue);
} */

.timeline-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    border-top: 1px black solid;
    padding-top: 50px;
}


/* news page */
.featured-new-block{
    padding: 50px 20%;
}

.featured-new-container{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    border-bottom: 1px var(--border-black) solid;
    padding: 0px 0px 80px;
}

.featured-new-container > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 85%;
}

.featured-new-container h1{
    font-size: var(--font-2xl-size);
}

.featured-new-container img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}