:root {
    --main-color: #00ff4c;
    --secundary-color: #006816;
    --border-hard-color: #e4e4e4;
    --font-medium-size: 0.9rem;
    --font-lg-size: 1.1rem;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
}

.top-header {
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(to right, var(--secundary-color), var(--main-color));
    padding: 8px 12px;
    color: white;
    font-size: var(--font-medium-size);
    font-weight: bold;
}

.navbar {
    border-bottom: 1px var(--border-hard-color) solid;
    font-size: var(--font-lg-size);
}

.navbar ul{
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style-type: none;
    padding: 20px 0px;
}


.navbar ul li a {
    text-decoration: none;
    color: black;
}

.navbar ul li a:hover {
    text-decoration: none;
    color: var(--secundary-color);
}

/* navbar hover */

.navbar li {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.border-hover {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px; 
    background-color: var(--secundary-color);
    transition: width 0.3s ease, left 0.3s ease;
}

.navbar li:hover .border-hover {
    width: 100%;
}