<div class="navbar-wrapper">
    <a href="/" class="navbar-logo">
        <img src="../images/logo.png">
    </a>
    <ul>
        <li>
            <a href="./donate.html">Donate a tree</a>
            <div class="border-hover"></div>
        </li>
        <li>
            <a href="./news.html">News</a>
            <div class="border-hover"></div>
        </li>
        <li>
            <a href="./campaigns.html">Campaigns</a>
            <div class="border-hover"></div>
        </li>
        <li>
            <a href="./roadmap.html">Roadmap</a>
            <div class="border-hover"></div>
        </li>
    </ul>
</div>