<div class="campaign-card">
    <div class="campaign-card-title">
        <h1>

        </h1>
        <h3>
        </h3>
    </div>
    <img src="images/campaigns/image-1.webp"/>
    <div class="campaign-card-desc"></div>
    <div class="campaign-card-buttons">
        <a class="btn-2">
            <span>
               DETAILS 
            </span>
            
        </a>
        <a class="btn-2">
            <span>
               DONATE 
            </span>
            
        </a>
    </div>
</div>